[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tronjs/Desktop/trash-can.desktop]
row=1
col=1

[/home/tronjs/Desktop/computer.desktop]
row=0
col=1

[1EE6-30E8]
row=1
col=0

[546E6AA46E6A7F1C]
row=4
col=0

[C42ECFF92ECFE292]
row=0
col=0

[9E58AD2158ACF8E3]
row=3
col=0

[01D2611C6B5CFB40]
row=2
col=0

[C46AE0436AE03438]
row=5
col=0

[Trash]
row=6
col=0

[/]
row=7
col=0

[/home/tronjs]
row=8
col=0

